.container {
  background-color:#33333b;
  padding-right: 18%;
  padding-left: 18%;
  margin-top: 0%;
  margin-bottom: 0%;
}

.header {
  background: black;
  padding: 0.5em;
}

#playnow {
  text-align: center;
  color: white;
}

.platforms {
  background-color: chocolate;
  text-align: center;
}

.plataform_item{
  margin-left: 7%;
  margin-right: 7%;
}

.footer {
  width: 100%;
  height: 10%;
  padding-top: 1em;
  margin-bottom: 0em;
  text-align: center;
  background: black;
  color: white;
}

#email{
  padding-bottom: 1em;
  margin-bottom: 0px;
}